/* Root and container */
.root {
  background: white;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  padding: 48px 32px 32px 32px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #333333;
}

.headerTitle {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.headerSubtitle {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.2px; 
}

/* Divider */
.dividerContainer {
  position: relative;
  height: 0;
  width: 100%;
}

.dividerLineWrapper {
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  right: 0;
}

.dividerSvg {
  display: block;
  width: 100%;
  height: 1px;
}

.sectionTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 19px;
  position: relative;
  flex-shrink: 0;
  color: black;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}



/* Loan properties */
.loanPropertiesSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.loanHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #333333;
}

.loanDescription {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

/* Slider */
.sliderSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sliderLabel {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
}

.sliderInputRow {
  display: flex;
  gap: 16px;
  width: 100%;
}

.sliderTextInputWrapper {
  position: relative;
  flex: 1;
  background: #ffffff;
  display: flex;
  align-items: stretch;
}

.sliderTextInputBorder {
  position: absolute;
  inset: 0;
  border: 1px solid #767676;
  pointer-events: none;
}

.sliderTextInputBorderError {
  border-color: #db0011;
}

.sliderTextInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 11px 16px;
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333333;
  box-sizing: border-box;
}

.sliderSecondaryLabelWrapper {
  width: 140px;
  box-sizing: border-box;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 24px;
}

.sliderSecondaryLabel {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  text-align: center;
  white-space: pre-line;
}

.errorText {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #db0011;
}

/* Slider track */
.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.sliderTrackWrapper {
  position: relative;
  height: 32px;
  width: 100%;
  cursor: pointer;
}

.sliderTrack {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  display: flex;
}

.sliderTrackFilled {
  height: 8px;
  min-height: 1px;
  background: #db0011;
  flex-shrink: 0;
  width: calc(var(--sliderPercentage, 0) * 1%);
}

.sliderTrackRemaining {
  height: 8px;
  min-height: 1px;
  background: #ededed;
  flex-shrink: 0;
  width: calc(100% - (var(--sliderPercentage, 0) * 1%));
}

.sliderHandle {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  cursor: grab;
  left: calc(var(--sliderPercentage, 0) * 1% - 16px);
}

.sliderHandleInner {
  position: absolute;
  inset: -1.56%;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #d7d8d6;
}

/* Slider min/max */
.sliderMinMaxRow {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333333;
}

.sliderMaxValue {
  text-align: right;
}


/* Amount Section */
.amountSection {
  background: white;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.amountBorder {
  position: absolute;
  border: 1px solid #d7d8d6;
  border-style: solid;
  inset: 0;
  pointer-events: none;
}

.amountInner {
  width: 100%;
  height: 100%;
}

.amountContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  padding: 24px 20px;
  position: relative;
  width: 100%;
}

.amountInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.amountTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  flex-shrink: 0;
  color: black;
  width: 100%;
  font-style: normal;
  line-height: normal;
}

/* Amount Breakdown */
.amountBreakdownContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.breakdownRow {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  padding: 12px 0;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.breakdownRowLast {
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  padding: 12px 0;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.breakdownBorder {
  position: absolute;
  border: 0 solid #d7d8d6;
  border-bottom-width: 1px;
  border-style: solid;
  inset: 0;
  pointer-events: none;
}

.breakdownContentContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.breakdownText {
  flex-basis: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  align-items: flex-start;
  min-height: 1px;
  min-width: 1px;
  overflow: clip;
  padding: 2px 0 0 0;
  position: relative;
  flex-shrink: 0;
}

.breakdownLabel {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  color: #333333;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}

.breakdownLabelTotal {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  color: #db0011;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}

.breakdownAmount {
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.breakdownValue {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  color: #333333;
  text-align: right;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}

.breakdownValueTotal {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  color: #db0011;
  text-align: right;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}

/* Lower Interest Banner */
.lowerInterestBanner {
  background: #ededed;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.lowerInterestContent {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.successIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.successIcon {
  position: relative;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}

.successIconSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.lowerInterestTextWrapper {
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  align-items: flex-start;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  flex-shrink: 0;
}

.lowerInterestText {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  color: #333333;
  width: 100%;
  font-style: normal;
  line-height: normal;
}

/* Key Information Section */
.keyInfoSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.keyInfoTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 19px;
  position: relative;
  flex-shrink: 0;
  color: black;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}

.keyInfoSubtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  color: black;
  width: min-content;
  min-width: 100%;
  font-style: normal;
  line-height: normal;
}

.keyInfoList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.keyInfoItem {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  border-bottom: 1px solid #d7d8d6;
}

.keyInfoItemBorder {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.keyInfoItemContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  padding: 16px 12px;
  position: relative;
  width: 100%;
}

.keyInfoIconWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 24px;
}

.keyInfoIcon {
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.keyInfoIconLarge {
  position: relative;
  flex-shrink: 0;
  width: 24.005px;
  height: 24.013px;
}

.keyInfoIconSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.keyInfoText {
  flex-basis: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  align-items: flex-start;
  min-height: 1px;
  min-width: 1px;
  padding: 2px 0 0 0;
  position: relative;
  flex-shrink: 0;
  color: #333333;
  font-size: 12px;
  font-style: normal;
}

.keyInfoItemTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  font-style: normal;
  line-height: normal;
}

.keyInfoItemTitleNoWrap {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  text-wrap: nowrap;
  font-style: normal;
  line-height: normal;
}

.keyInfoItemDescription {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  font-style: normal;
  line-height: normal;
}

.keyInfoItemDescriptionMulti {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  font-style: normal;
  line-height: normal;
}

.keyInfoItemDescriptionMulti p {
  margin: 0;
}

.infoIcon {
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.infoIconLarge {
  position: relative;
  flex-shrink: 0;
  width: 24.005px;
  height: 24.013px;
}

.infoIconSvg {
  display: block;
  width: 100%;
  height: 100%;
}

/* CTA Section */
.ctaSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.notificationBanner {
  background: #ebeff4;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.notificationBorder {
  position: absolute;
  border: 1px solid #305a85;
  border-style: solid;
  inset: 0;
  pointer-events: none;
}

.notificationContent {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 11px 16px;
  position: relative;
  width: 100%;
}

.notificationIconContainer {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  overflow: clip;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
}

.notificationIcon {
  position: relative;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}

.notificationIconSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.notificationMessageContainer {
  flex-basis: 0;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  align-items: flex-start;
  overflow: clip;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  flex-shrink: 0;
}

.notificationText {
  flex-basis: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  flex-grow: 1;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  flex-shrink: 0;
  color: #333333;
  font-style: normal;
  line-height: normal;
}

/* Primary Button */
.primaryButton {
  background: #db0011;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 11px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  font-style: normal;
  line-height: normal;
}

.primaryButton:hover {
  background: #c00010;
}

.primaryButton:disabled {
  background-color: #D7D8D6;
  color: #b3b3b3;
  cursor: not-allowed;
  opacity: 1;
}

.primaryButton:hover:not(:disabled) {
  background-color: #c00010;
}
